@import 'typography';
@import 'color';
@import 'fontSize';
@import 'value';

.btnPrimary {
    background-color: $colorDarkGrey;
    color: $colorWhite;
    border-radius: $rounded;
    text-transform: uppercase;
}

.btnSecondary {
    background-color: $colorWhite;
    border: 1px solid $colorDarkGrey;
    color: $colorDarkGrey;
    border-radius: $rounded;
    text-transform: uppercase;
}